h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}
html {
    overflow: hidden;
}

img {
    width: 12%;
    margin: 15px 6px;
    user-select: none;
}

img:hover {
    transform: scale(1.15);
    transition-duration: 0.2s;
}

/************************functions*********************************/
.push{
    animation-name: push;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
@keyframes push {
    0%{}
    100%{transform: scaleY(0.34) translateY(170px);}
}

.spin {
    animation-name: spin;
    animation-duration: 0.6s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes spin {
    0%{}
    100%{transform: rotateZ(180deg)}
}
/*
@keyframes pop {
    0%{}
    2%{transform: scale(1.5); opacity: 0;}
    90%{opacity: 0.88;}
    100%{opacity: 1;}
}
*/

h1 {
    font-size: 40px;
    margin: 10px;
}

#spawn {
    width: 350px;
    height: 80px;
    font-size: 30px;
    padding: 10px;
}

.button1 {
    padding: 15px;
    font-size: 27px;
    border: none;
    border-radius: 8px;
    background-color: rgb(255, 205, 53);
    filter: drop-shadow(0px 9px rgb(200, 143, 31));
    margin: 20px;
}
.button1:hover {
    color: white;
}
.button1:active {
    filter: none;
    transform: translateY(9px);
}

.button2 {
    width: 50px;
    height: 50px;
}

table {
    width: 100%;
}

td {
    text-align: center;
}

#bar {
    padding: 10px;
    width: 8%;
    vertical-align: top;
}

.spinbtn:hover {
    animation-name: spinhover;
    animation-duration: 0.2s;
    transition-duration: 0.2s;
}

@keyframes spinhover {
    0%{transform: rotate(180deg);}
    100%{transform: roatte(360deg)}
}

#skin {
    background-color: blanchedalmond;
    font-size: 24px;
    margin-top: 100px;
}
